<nav class="navbar navbar-toggleable-md navbar-inverse navbar-dark bg-inverse fixed-top">
  <a class="navbar-brand" href="#">Angular 4 Bootstrap</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/welcome']">Home <span class="sr-only">
      (current)</span></a>
    </li>
    <li clas="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="https://angular.io">
        <i class="fa fa-medium" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/horaciodev">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
